@model IEnumerable<SendtInnSpm>

@{
    ViewBag.Title = "Innsendt spørsmål";
}

<div style="margin-top:30px; margin-bottom:50px">
    <h2>Takk for at du sendte inn et spørsmål</h2>
    <h2>Vi vil svare på ditt spørsmål så fort som mulig!</h2>
</div>

<div>
    <h5>Tabelliste over alle innsendte spørsmål</h5>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Navn</th>
      <th scope="col">Epost</th>
      <th scope="col">Tema</th>
      <th scope="col">Spørsmål</th>
    </tr>
  </thead>
    <tbody>
        @foreach (var sendtInnSpm in Model)
        {
            <tr>
                <td>@sendtInnSpm.SId</td>
                <td>@sendtInnSpm.Navn</td>
                <td>@sendtInnSpm.Email</td>
                <td>@sendtInnSpm.Tema</td>
                <td>@sendtInnSpm.Sporsmal</td>
            </tr>
        }
    </tbody>
</table>