@model IEnumerable<SendtInnSpm>

@{
    ViewBag.Title = "Innsendt spørsmål";
}

<div style="margin-top:30px; margin-bottom:50px">
    <h2>Takk for at du sendte inn et spørsmål</h2>
    <h2>Vi vil svare på ditt spørsmål så fort som mulig!</h2>
</div>

<div>
    <h5>Tabelliste over alle innsendte spørsmål</h5>
</div>


<table>
    <tread>
        <tr>
            <th>SId</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Tema</th>
            <th>Spørsmål</th>
        </tr>
    </tread>
    <tbody>
        @foreach (var sendtInnSpm in Model)
        {
            <tr>
                <td>@sendtInnSpm.SId</td>
                <td>@sendtInnSpm.Navn</td>
                <td>@sendtInnSpm.Email</td>
                <td>@sendtInnSpm.Tema</td>
                <td>@sendtInnSpm.Sporsmal</td>
            </tr>
        }
    </tbody>
</table>